<!-- <p>math works!</p>
<h3>Enter a number to get its Factorial:

    <input type="text" [(ngModel)]="num">
</h3>
<button type="button" (click)="factorial(num)">RUN</button>

<h3>Result:
    {{r}}
</h3>

<hr>
                <div *ngIf="isPrime else notPrime">
                    <h3>Enter a number to check whether Prime or not:

                        <input type="text" [(ngModel)]="num">
                    </h3>
                    <button type="button" (click)="prime(n)">RUN</button>
                    
                    

                </div>
                <ng-template #notPrime>
                    <h4>
                       {{}}
                    </h4>
                </ng-template>
     -->
